.drako-video {
  height: 500px;
  @include bgc("/video/bg_video.jpg");
  text-align: center;
  .video_player {
    width: 50%;
    height: 73%;
    position: relative;
    top: 20%;
    margin: 0 auto;
  }
  .drako-video__title {
    height: 45px;
    width: 30%;
    position: absolute;
    left: 35%;
    margin-top: 30px;
  }

  .drako-video__title {
    @include bgc('/video/video_text.png', false);
    background-size: contain;
  }

  .rus & {
    .drako-video__title {
      @include bgc('/rus/video/video_text.png', false);
      background-size: contain;
    }
  }

  @media (max-width: 900px) {
    & {
      height: 300px;
    }
    .video_player {
      width: 100%;
      height: 75%;
      position: relative;
      top: 20%;
    }

    .drako-video__title {
      width: 50%;
      left: 25%;
    }
  }
}